@import url(normalize.css);
html.debug {
  background: transparent url(/mockups/00-home.jpg) no-repeat top left;
  background-size: 100%;
  height: 3000px; }
  html.debug body {
    opacity: 0.7;
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    background: url(/movie-images/pelicula-inocents.svg) no-repeat top left;
    background-size: 100%;
    background-color: #141414; }

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.main-nav {
  display: flex;
  align-items: center; }
  .main-nav .logo-img {
    margin: 22px 45px 21.14px 58px; }
  .main-nav .nav-list {
    display: flex;
    width: 380px;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    list-style: none; }
    .main-nav .nav-list li a {
      color: #FFFFFF;
      font-family: Helvetica, sans-serif;
      font-size: 14px;
      letter-spacing: 0.5px; }
    .main-nav .nav-list .home {
      font-weight: bold; }
  .main-nav .search-form {
    margin-left: auto;
    margin-right: 61.3px; }
    .main-nav .search-form .search-input {
      display: none; }

.container-header {
  display: flex;
  flex-direction: column;
  margin-top: 184px;
  margin-left: 58px; }
  .container-header .movie-title {
    width: 459px;
    margin-left: 3px; }
  .container-header .btn-header {
    margin-top: 30px;
    margin-bottom: 27px; }
    .container-header .btn-header .btn-play, .container-header .btn-header .btn-list {
      color: #FFFFFF;
      padding: 12px 35px 11px 34px;
      border-radius: 3px;
      background-color: rgba(51, 51, 51, 0.4);
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.2px; }
      .container-header .btn-header .btn-play .play-icon-black, .container-header .btn-header .btn-play .plus-icon-black, .container-header .btn-header .btn-list .play-icon-black, .container-header .btn-header .btn-list .plus-icon-black {
        display: none; }
    .container-header .btn-header .btn-play:hover, .container-header .btn-header .btn-list:hover {
      background-color: #E6E6E6;
      color: #000000; }
      .container-header .btn-header .btn-play:hover .play-icon, .container-header .btn-header .btn-play:hover .plus-icon, .container-header .btn-header .btn-list:hover .play-icon, .container-header .btn-header .btn-list:hover .plus-icon {
        display: none; }
      .container-header .btn-header .btn-play:hover .plus-icon-black, .container-header .btn-header .btn-list:hover .plus-icon-black {
        display: initial;
        margin-right: 6px; }
      .container-header .btn-header .btn-play:hover .play-icon-black, .container-header .btn-header .btn-list:hover .play-icon-black {
        display: initial;
        margin-right: 7px; }
    .container-header .btn-header .btn-play {
      margin-right: 8px; }
    .container-header .btn-header .play-icon {
      margin-right: 7px; }
    .container-header .btn-header .plus-icon {
      margin-right: 6px; }
  .container-header .subtitle-movie {
    height: 26px;
    width: 225px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.22px;
    line-height: 26px; }
  .container-header .description-movie {
    height: 75px;
    width: 485px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 25px;
    margin-top: 3px; }
  .container-header .age-rate {
    align-self: flex-end;
    padding: 7px 51px 6px 13px;
    border-left: 3px solid #FFFFFF;
    background-color: #252928;
    margin-top: -13px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.16px; }

main {
  margin-top: 84px; }
  main .section-v-title {
    height: 24px;
    width: 203px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.16px;
    line-height: 24px;
    margin-left: 58px; }
  main .section-h-title {
    height: 24px;
    width: 185px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.16px;
    line-height: 24px;
    margin-left: 58px; }
  main .movie-v-container, main .movie-h-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto; }
    main .movie-v-container .movie-v:first-child, main .movie-h-container .movie-v:first-child {
      margin-left: 58px; }
    main .movie-v-container .movie-h:first-child, main .movie-h-container .movie-h:first-child {
      margin-left: 60px; }
    main .movie-v-container .img-overlay-v, main .movie-v-container .img-overlay-h, main .movie-h-container .img-overlay-v, main .movie-h-container .img-overlay-h {
      display: none; }
    main .movie-v-container .movie-v, main .movie-v-container .movie-h, main .movie-h-container .movie-v, main .movie-h-container .movie-h {
      margin-right: 5px; }

.movie-v-container {
  margin-bottom: 60px;
  margin-top: 11px; }

.movie-h-container {
  margin-top: 12px; }
  .movie-h-container .progress-bar {
    position: relative;
    z-index: -1;
    height: 4px;
    width: 132px;
    background-color: #606060;
    margin: 2px auto 0 auto; }
    .movie-h-container .progress-bar .progress-status {
      width: 70px;
      background-color: #B3212C; }

.movie-v-container::-webkit-scrollbar, .movie-h-container::-webkit-scrollbar {
  display: none; }

/*# sourceMappingURL=styles.css.map */
