html.debug {
    background: transparent url(/mockups/00-home.jpg) no-repeat top left;
	background-size: 100%;
	
	body {
		opacity: 0.7;
		color: $primary-color;
		font-family: $primary-font;
	}
}
//Reset
*,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

//Remove Style of links
a {
	text-decoration: none;
}
