html.debug {
    background: transparent url(/mockups/00-home.jpg) no-repeat top left;
	background-size: 100%;
	height: 3000px;
	
	body {
		opacity: 0.7;
		color: $primary-color;
		font-family: $primary-font;
		background: url(../movie-images/pelicula-inocents.svg) no-repeat top left;
		background-size: 100%;
		background-color: $nav-bg;
	}
}
//Reset
*,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

//Remove Style of links
a {
	text-decoration: none;
}
