html.debug {
    background: transparent url(/mockups/00-home.jpg) no-repeat top left;
	background-size: 100%;
	
	body {
		opacity: 0.7;
		margin: 0;
		color: $primary-color;
		font-family: $primary-font;
	}
}

//Remove Style of links
a {
	text-decoration: none;
}